# Practica de Cassandra
# Acosta Imandt Daniel
# Garduño Martínez Eduardo
# León Rosas Manuel Alejandro

In [10]:
!pip install cassandra-driver

Requirement already satisfied: cassandra-driver in /home/eduardo/anaconda3/lib/python3.9/site-packages (3.25.0)
Requirement already satisfied: geomet<0.3,>=0.1 in /home/eduardo/anaconda3/lib/python3.9/site-packages (from cassandra-driver) (0.2.1.post1)
Requirement already satisfied: six>=1.9 in /home/eduardo/anaconda3/lib/python3.9/site-packages (from cassandra-driver) (1.16.0)
Requirement already satisfied: click in /home/eduardo/anaconda3/lib/python3.9/site-packages (from geomet<0.3,>=0.1->cassandra-driver) (8.0.3)

In [30]:
from cassandra.cluster import Cluster

In [31]:
def id_persona_f(cliente):
    cliente = cliente.replace("'",'')
    b = cliente.split(' ')
    b = [j.capitalize() for j in b]
    b = b[0:2]
    c = b[0][0:3]+b[1][0:3]
    c = "'" + c + "'"
    return c

## Conexion con la Base

In [32]:
cluster = Cluster(['127.0.0.1'],port=9042)

In [33]:
session = cluster.connect()

## Creacion del keyspace

In [34]:
session.execute("CREATE KEYSPACE IF NOT EXISTS libreria \
WITH REPLICATION = {'class' : 'SimpleStrategy','replication_factor':1}")

In [35]:
session2 = cluster.connect('libreria')

## Creacion de la base de datos

In [36]:
id_libro = ["'HarryPotter'","'OneShot'","'OnTheRoad'","'ThePillarsOfTheEarth'","'100AñosDeSoledad'","'LaCasaDeBernarda'","'UnaEducacion'","'DoAndroidsDreamOfElectricSheep?'","'SoloQuedoNuestraHistoria'"]
titulo = ["'Harry Potter'","'One Shot'","'On The Road'","'The Pillars Of The Earth'","'100 Años De Soledad'","'La Casa De Bernarda'","'Una Educacion'","'Do Androids Dream Of Electric Sheep?'","'Solo Quedo Nuestra Historia'"]
categoria = ["'Fantasia'","'Suspenso'","'Novela'","'Novela'","'Realismo Magico'","'Teatro'","'Autobiografia'","'Ciencia Ficcion'","'Novela'"]
id_persona = ["'YeuLar'","'EduGar'","'FerAvi'","'EdgCal'","'DanFra'","'EnrGom'","'HugRan'","'EnrGom'","'HugRan'"]
nombre_persona= ["'Yeudiel Lara'","'Eduardo Garduño'","'Fernando Avitua'","'Edgar Callejas'","'Daniel Fragoso'","'Enrique Gomez'","'Hugo Rangel'","'Enrique Gomez'","'Hugo Rangel'"]
pais = ["'Mexico'" for _ in range(9)]
membresia = ["'Platino'","'Oro'","'Regular'","'Regular'","'Oro'","'Platino'","'Platino'","'Platino'","'Platino'"]
calificacion = [5,5,5,4,5,5,5,4,3]

In [37]:
id_libro2 = ["'ElTapizAmarillo'","'LazarilloDeTormes'","'LaCancionDeAquiles'","'DoñaPerfecta'","'LaMetamorfosis'","'Erecciones,Eyaculaciones,Exhibiciones'","'UnMundoFeliz'","'EndersGame'","'PedroParamo'","'TravesurasDeLaNiñaMala'"]
titulo2 = ["'El Tapiz Amarillo'","'Lazarillo De Tormes'","'La Cancion De Aquiles'","'Doña Perfecta'","'La Metamorfosis'","'Erecciones, Eyaculaciones, Exhibiciones'","'Un Mundo Feliz'","'Enders Game'","'Pedro Paramo'","'Travesuras De La Niña Mala'"]
categoria2 = ["'Cuento'","'Novela'","'Novela'","'Novela'","'Cuento'","'Cuento'","'Ciencia Ficcion'","'Novela'","'Novela'","'Novela'"]
id_persona2 = ["'HugRan'","'EnrGom'","'DanFra'","'EnrGom'","'HugRan'","'EnrGom'","'EnrGom'","'EnrGom'","'DanFra'","'EnrGom'"]
nombre_persona2 = ["'Hugo Rangel'","'Enrique Gomez'","'Daniel Fragoso'","'Enrique Gomez'","'Hugo Rangel'","'Enrique Gomez'","'Enrique Gomez'","'Enrique Gomez'","'Daniel Fragoso'","'Enrique Gomez'"]
membresia2 = ["'Platino'","'Platino'","'Oro'","'Platino'","'Platino'","'Platino'","'Platino'","'Platino'","'Oro'","'Platino'"]
calificacion2 = [4,1,5,4,4,4,5,3,3,5]
pais2 = ["'Mexico'" for _ in range(10)]

In [38]:
titulo3 = ["'La Cancion De Aquiles'","'El Periquillo De Sarniento'","'Exhalation'","'1Q84'","'El Coronel No Tiene Quien Le Escriba'","'El Señor De Las Moscas'","'La Maquina Del Tiempo'","'La Guerra De Los Mundos'","'Bajo La Rueda'","'Siddharta'"]
id_libro3 = [j.replace(' ','') for j in titulo3]
categoria3 = ["'Novela'","'Novela'","'Cuento'","'Novela'","'Novela'","'Novela'","'Ciencia Ficcion'","'Ciencia Ficcion'","'Novela'","'Novela'"]
nombre_persona3 = ["'Hugo Rangel'","'Enrique Gomez'","'Fernando Avitua'","'Guillermo Gerardo'","'Guillermo Gerardo'","'Guillermo Gerardo'","'Guillermo Gerardo'","'Guillermo Gerardo'","'Fernando Santarita'","'Fernando Santarita'"]
id_persona3 = [id_persona_f(j) for j in nombre_persona3]
membresia3 = ["'Platino'","'Platino'","'Regular'","'Regular'","'Regular'","'Regular'","'Regular'","'Regular'","'Regular'","'Regular'"]
calificacion3 = [4,2,4,5,4,4,4,4,4,5]

In [39]:
titulo4 = ["'El Lobo Estepario'","'One Shot'","'El Periquillo De Sarniento'","'Rayuela'","'Crimen Y Castigo'","'Fenomenologia Del Espiritu'","'Ulises'","'Siddharta'","'Un Mundo Feliz'","'The Catcher In The Rye'"]
id_libro4 = [j.replace(' ','') for j in titulo4]
categoria4 = ["'Novela'","'Suspenso'","'Novela'","'Novela'","'Novela'","'Ensayo'","'Novela'","'Novela'","'Ciencia Ficcion'","'Novela'"]
nombre_persona4 = ["'Fernando Santarita'","'Fernando Santarita'","'Fernando Santarita'","'Luis Ariel'","'Luis Ariel'","'Luis Ariel'","'Luis Ariel'","'Fernando Avitua'","'Fernando Avitua'","'Luis Ariel'"]
id_persona4 = [id_persona_f(j) for j in nombre_persona4]
membresia4 = ["'Regular'" for _ in range(10)]
calificacion4 = [5,4,4,5,4,4,4,3,4,5]

In [40]:
titulos = [titulo,titulo2,titulo3,titulo4]
paises = [pais,pais2,pais2,pais2]
id_libros = [id_libro,id_libro2,id_libro3,id_libro4]
id_personas = [id_persona,id_persona2,id_persona3,id_persona4]
categorias = [categoria,categoria2,categoria3,categoria4]
nombre_personas = [nombre_persona,nombre_persona2,nombre_persona3,nombre_persona4]
membresias = [membresia,membresia2,membresia3,membresia4]
calificaciones = [calificacion,calificacion2,calificacion3,calificacion4]

In [41]:
session2.execute("CREATE TABLE libros_por_persona \
(id_libro text, \
titulo text, \
categoria text, \
id_persona text, \
nombre_persona text STATIC, \
pais text STATIC, \
membresia text STATIC, \
calificacion int, \
PRIMARY KEY (id_persona,categoria,calificacion));")

AlreadyExists: Table 'libreria.libros_por_persona' already exists

In [19]:
session2.execute("CREATE TABLE personas_gustaron_libro \
(id_libro text, \
nombre_persona text, \
calificacion int, \
PRIMARY KEY (id_libro,calificacion));")

In [20]:
session2.execute("CREATE TABLE mejores_libros_categoria \
(titulo text, \
categoria text, \
calificacion int, \
PRIMARY KEY (categoria,calificacion));")

## Carga de los datos

In [42]:
for i,c in enumerate(titulos):
    for j in range(len(c)):
        expresion = "INSERT INTO libros_por_persona (id_libro, titulo, categoria, id_persona, nombre_persona, pais, membresia, calificacion) VALUES" + "(" + id_libros[i][j] + "," + titulos[i][j] + "," + categorias[i][j] + "," +id_personas[i][j]+ "," +nombre_personas[i][j]+ "," +paises[i][j]+ "," + membresias[i][j]+ "," + str(calificaciones[i][j]) + ");"
        session2.execute(expresion)

In [43]:
for i,c in enumerate(titulos):
    for j in range(len(c)):
        expresion = "INSERT INTO personas_gustaron_libro (id_libro,nombre_persona,calificacion) VALUES" + "(" + id_libros[i][j] + "," + nombre_personas[i][j] + "," + str(calificaciones[i][j]) + ");"
        session2.execute(expresion)

In [44]:
for i,c in enumerate(titulos):
    for j in range(len(c)):
        expresion = "INSERT INTO mejores_libros_categoria (titulo, categoria, calificacion) VALUES" + "(" + titulos[i][j] + "," + categorias[i][j] + "," + str(calificaciones[i][j]) + ");"
        session2.execute(expresion)

## Consultas

In [167]:
def categoria_preferida(cliente):
    b = cliente.split(' ')
    b = [j.capitalize() for j in b]
    b = b[0:2]
    c = b[0][0:3]+b[1][0:3]
    consulta = "SELECT categoria, count(categoria) As frecuencia FROM libros_por_persona WHERE id_persona=" + "'" + c + "'" +" GROUP BY categoria;"
    a = session2.execute(consulta)
    topspots = 3
    freq = []
    for j in a:
        freq.append((j.frecuencia, j.categoria))

    freq = sorted(freq,reverse = True)

    print('Categoría: Frecuencia')
    spotsleft = 0
    for row in freq:
        print(row[1] + ": " + repr(row[0]))
        spotsleft += 1
        if spotsleft >= topspots:
            break

In [170]:
categoria_preferida('Enrique Gomez')

Categoría: Frecuencia
Novela: 5
Ciencia Ficcion: 2
Teatro: 1

In [47]:
def clientes_libro(libro):
    libro = libro.replace(' ','')
    consulta = "SELECT nombre_persona FROM personas_gustaron_libro WHERE id_libro=" + "'" + libro + "'" + " ORDER BY calificacion DESC LIMIT 3;"
    a = session2.execute(consulta)
    for j in a:
        print(j)

In [48]:
clientes_libro('Un Mundo Feliz')

Row(nombre_persona='Enrique Gomez')
Row(nombre_persona='Fernando Avitua')

In [49]:
def mejores_libros(categoria):
    consulta = "SELECT titulo FROM mejores_libros_categoria WHERE categoria=" + "'" + categoria + "'" + " ORDER BY calificacion DESC LIMIT 3;"
    a = session2.execute(consulta)
    for j in a:
        print(j)

In [50]:
mejores_libros('Novela')

Row(titulo='The Catcher In The Rye')
Row(titulo='Ulises')
Row(titulo='Siddharta')